@page
@model VisualStudio.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment slots page";
}

<div class="text-center">
    <h1 class="display-4">Testing deployment slots</h1>
    <h2>Validating deployment slots feature</h2>
</div>