@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Staging</h1>
    <h2>building Web apps with ASP.NET Core - Deployed to Azure with continuous deployment using GitHub</h2>
</div>
<div class="table-responsive">
    <br/>
    <p>Copilot gave this code block</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Pet Breed</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Golden Retriever</td>
                <td>Handsome Jack</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Bengal</td>
                <td>Sierra</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
    <p>@ViewData["Message"]</p>
</div>