@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>building Web apps with ASP.NET Core - Deployed to Azure with continuous deployment using GitHub</h2>
</div>
